.screenshot-2024-03-25-073518-133 {
  height: 663px;
  width: 518px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.screenshot-2024-04-07-112015-118,
.screenshot-2024-04-13-115715-19 {
  position: absolute;
  top: 16px;
  left: 0;
  width: 502px;
  height: 602px;
  object-fit: cover;
  z-index: 1;
}
.screenshot-2024-04-13-115715-19 {
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.screenshot-2024-04-07-112015-1-parent3 {
  height: 618px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.screenshot-2024-03-25-073518-1-parent21 {
  position: absolute;
  top: 140px;
  left: 144px;
  width: 518px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-3xs) var(--padding-mini) 0;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
}
.screenshot-2024-03-25-074319-133 {
  height: 39px;
  width: 462px;
  position: absolute;
  margin: 0 !important;
  right: 236px;
  bottom: -24px;
  object-fit: cover;
}
.frame-child650 {
  align-self: stretch;
  width: 1357px;
  position: relative;
  background-color: var(--color-whitesmoke);
  display: none;
  max-width: 100%;
}
.frame-child651,
.theo-sn-phm10 {
  position: relative;
  z-index: 4;
}
.frame-child651 {
  width: 53px;
  height: 3px;
  border-top: 3px solid var(--color-black);
  box-sizing: border-box;
}
.theo-sn-phm-parent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.sn-phm-mi13,
.tt-c11 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
  z-index: 4;
}
.tt-c11 {
  line-height: 19.2px;
  min-width: 48px;
}
.sn-phm-mi13 {
  min-width: 106px;
}
.tt-c-parent4 {
  gap: var(--gap-sm);
  font-size: var(--font-size-base);
}
.frame-parent663,
.frame-wrapper482,
.tt-c-parent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent663 {
  gap: var(--gap-15xl);
}
.frame-wrapper482 {
  padding: var(--padding-13xl) 0 0;
}
.frame-child652,
.o-nam12 {
  position: relative;
  z-index: 4;
}
.o-nam12 {
  display: inline-block;
  min-width: 76px;
}
.frame-child652 {
  height: 3px;
  width: 50px;
}
.vector-wrapper32 {
  flex-direction: row;
  padding: 0 var(--padding-9xs);
}
.frame-wrapper484,
.o-nam-parent4,
.vector-wrapper32 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.o-nam-parent4 {
  flex-direction: column;
  gap: var(--gap-7xs);
}
.frame-wrapper484 {
  flex-direction: row;
  padding: 0 var(--padding-10xs);
}
.o-thun13,
.tt-c-o10 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
  z-index: 4;
}
.tt-c-o10 {
  line-height: 19.2px;
  min-width: 106px;
  white-space: nowrap;
}
.o-thun13 {
  min-width: 63px;
}
.o-di-tay10,
.o-khoc10,
.o-polo10,
.o-s-mi16,
.o-th-thao10 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 64px;
  z-index: 4;
}
.o-di-tay10,
.o-khoc10,
.o-polo10,
.o-th-thao10 {
  min-width: 75px;
}
.o-khoc10,
.o-polo10,
.o-th-thao10 {
  min-width: 57px;
}
.o-khoc10,
.o-th-thao10 {
  min-width: 72px;
}
.o-th-thao10 {
  min-width: 88px;
}
.frame-parent665,
.tt-c-o-nam-parent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tt-c-o-nam-parent4 {
  align-self: stretch;
  gap: var(--gap-sm);
  font-size: var(--font-size-base);
}
.frame-parent665 {
  width: 133px;
  padding: 0 var(--padding-8xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-15xl);
}
.qun-nam10 {
  position: relative;
  display: inline-block;
  min-width: 102px;
  z-index: 4;
}
.qun-nam-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
}
.frame-child653 {
  width: 53px;
  height: 3px;
  position: relative;
  border-top: 3px solid var(--color-black);
  box-sizing: border-box;
  z-index: 4;
}
.frame-parent667,
.frame-wrapper485 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent667 {
  flex-direction: column;
  gap: var(--gap-7xs);
}
.frame-wrapper485 {
  flex-direction: row;
  padding: 0 var(--padding-10xs);
}
.tt-c-qun10 {
  position: relative;
  line-height: 19.2px;
  font-weight: 300;
  display: inline-block;
  min-width: 124px;
  white-space: nowrap;
  z-index: 4;
}
.qun-bi10,
.qun-di10,
.qun-jeans10,
.qun-lt10,
.qun-shorts10,
.qun-th-thao10 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 92px;
  z-index: 4;
}
.qun-bi10,
.qun-di10,
.qun-jeans10,
.qun-lt10,
.qun-th-thao10 {
  min-width: 84px;
}
.qun-bi10,
.qun-di10,
.qun-lt10,
.qun-th-thao10 {
  min-width: 67px;
}
.qun-lt10,
.qun-th-thao10 {
  min-width: 63px;
}
.qun-th-thao10 {
  min-width: 107px;
}
.frame-parent666,
.tt-c-qun-nam-parent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tt-c-qun-nam-parent4 {
  align-self: stretch;
  gap: var(--gap-sm);
  font-size: var(--font-size-base);
}
.frame-parent666 {
  width: 124px;
  gap: var(--gap-15xl);
}
.ph-kin-nam10 {
  position: relative;
  white-space: nowrap;
  z-index: 4;
}
.frame-child654 {
  width: 53px;
  height: 3px;
  position: relative;
  border-top: 3px solid var(--color-black);
  box-sizing: border-box;
  z-index: 4;
}
.frame-wrapper486,
.ph-kin-nam-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ph-kin-nam-parent5 {
  flex-direction: column;
  gap: var(--gap-7xs);
}
.frame-wrapper486 {
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.tt-c-ph10 {
  position: relative;
  line-height: 19.2px;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 4;
}
.tt-c-ph-kin-wrapper6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.mnn10,
.ttv10 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 51px;
  z-index: 4;
}
.mnn10 {
  min-width: 60px;
}
.mnn-wrapper6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.frame-parent664,
.frame-parent668,
.frame-parent669 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent669 {
  gap: var(--gap-sm);
  font-size: var(--font-size-base);
}
.frame-parent664,
.frame-parent668 {
  gap: var(--gap-15xl);
}
.frame-parent664 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper483 {
  width: 589px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-20xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child655 {
  height: 355px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-darkgray-400);
  box-sizing: border-box;
  z-index: 4;
}
.screenshot-2024-04-05-081607-110 {
  align-self: stretch;
  height: 278px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 4;
}
.screenshot-2024-04-05-081607-1-wrapper4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-19xl) 0 0;
  box-sizing: border-box;
  min-width: 263px;
  max-width: 100%;
  flex-shrink: 0;
}
.line-parent11 {
  width: 420px;
  gap: var(--gap-sm);
}
.line-parent11,
.rectangle-parent431,
.screenshot-2024-03-25-074319-1-parent16 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent431 {
  background-color: var(--color-whitesmoke);
  padding: 0 var(--padding-7xl) 0 var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-46xl);
  z-index: 3;
}
.screenshot-2024-03-25-074319-1-parent16 {
  position: absolute;
  top: 93px;
  left: 41px;
  font-size: var(--font-size-xl);
}
.frame-child656 {
  height: 107px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: -12px;
  right: 0;
  left: 0;
  background-color: var(--color-gray-200);
}
.screenshot-2024-03-24-190111-155 {
  width: 89px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.connection-hub3 {
  position: absolute;
  top: -14px;
  left: 0;
  background-color: var(--color-chocolate);
  width: 55px;
  height: 108px;
  z-index: 1;
}
.sale55 {
  position: absolute;
  top: 40px;
  left: 8px;
  display: inline-block;
  width: 39px;
  height: 27px;
  min-width: 39px;
  white-space: nowrap;
  z-index: 2;
}
.connection-hub-parent {
  width: 55px;
  height: 94px;
  position: absolute;
  margin: 0 !important;
  right: 6px;
  bottom: -18px;
}
.media-handler {
  height: 69px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  font-size: var(--font-size-mini);
}
.logic-gates-child {
  height: 104px;
  width: 91px;
  position: relative;
  background-color: var(--color-darkslategray-100);
  display: none;
}
.sn-phm58 {
  height: 27px;
  position: relative;
  display: inline-block;
  min-width: 82px;
  white-space: nowrap;
  z-index: 5;
}
.logic-gates,
.output-formatter2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logic-gates {
  background-color: var(--color-darkslategray-100);
  flex-direction: row;
  padding: var(--padding-28xl) 0 var(--padding-11xl) var(--padding-4xs);
  z-index: 4;
}
.output-formatter2 {
  margin-top: -16px;
  flex-direction: column;
  padding: 0 var(--padding-lgi) 0 0;
}
.lt55 {
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 58px;
  white-space: nowrap;
  z-index: 1;
}
.lt-wrapper33 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xl) var(--padding-mid) 0 0;
}
.th-thao55 {
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 106px;
  white-space: nowrap;
  z-index: 1;
}
.th-thao-wrapper40 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-2xs) 0 0;
}
.mc-hng-ngy59 {
  width: 132px;
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 1;
}
.mc-hng-ngy-wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xl) var(--padding-xl) 0 0;
}
.nc-hoa55 {
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 86px;
  white-space: nowrap;
  z-index: 1;
}
.nc-hoa-wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xl) 0 0;
}
.sn-xut-ring55 {
  align-self: stretch;
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 1;
}
.sn-xut-ring-wrapper35 {
  width: 139px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.screenshot-2024-03-24-190914-155 {
  align-self: stretch;
  height: 44px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.error-handler18 {
  width: 112px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-4xl) 0 0;
  box-sizing: border-box;
}
.decision-tree,
.queue-manager-child {
  background-color: var(--color-gainsboro-100);
  z-index: 1;
}
.decision-tree {
  height: 53px;
  width: 53px;
  position: absolute;
  margin: 0 !important;
  top: 15px;
  right: 102px;
  border-radius: 50%;
}
.queue-manager-child {
  height: 61px;
  width: 153px;
  position: relative;
  border-radius: var(--br-8xl);
  display: none;
}
.message-broker-icon {
  height: 35.2px;
  width: 32.1px;
  position: relative;
  z-index: 3;
}
.tm-kim-sn55 {
  height: 30px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 101px;
  white-space: nowrap;
  z-index: 2;
}
.signal-processor1 {
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
  margin-left: -0.1px;
}
.database-manager,
.queue-manager,
.signal-processor1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.queue-manager {
  align-self: stretch;
  border-radius: var(--br-8xl);
  background-color: var(--color-gainsboro-100);
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-10xs) var(--padding-6xs);
  z-index: 1;
}
.database-manager {
  width: 168px;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-mini) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.vector-icon158 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.parallel-processor {
  height: 65.5px;
  width: 66px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.matrix-operations-icon {
  width: 32px;
  height: 40.6px;
  position: relative;
  z-index: 1;
}
.matrix-operations-wrapper,
.rectangle-parent432 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}
.rectangle-parent432 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-28xl) 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.mu-sc35 {
  font-weight: 300;
}
.en17 {
  font-weight: 900;
}
.hng-dn-chn33,
.kch-thc-o33,
.min-ph-giao33,
.mu-sc-en-container12 {
  position: absolute;
  top: 488px;
  left: 705px;
  display: inline-block;
  width: 128px;
  height: 24px;
}
.hng-dn-chn33,
.kch-thc-o33,
.min-ph-giao33 {
  top: 572px;
  font-weight: 300;
}
.hng-dn-chn33,
.min-ph-giao33 {
  top: 573px;
  left: 1111px;
  font-size: var(--font-size-xs);
  color: var(--color-mediumblue);
  width: 144px;
}
.min-ph-giao33 {
  top: 648px;
  left: 705px;
}
.screenshot-2024-04-07-104233-125 {
  position: absolute;
  top: 520px;
  left: 705px;
  width: 55px;
  height: 37px;
  object-fit: cover;
}
.screenshot-2024-04-07-104253-125,
.screenshot-2024-04-07-105108-133 {
  position: absolute;
  top: 520px;
  left: 769px;
  width: 55px;
  height: 34px;
  object-fit: cover;
}
.screenshot-2024-04-07-105108-133 {
  top: 597px;
  left: 969px;
  width: 261px;
  height: 44px;
  z-index: 1;
}
.screenshot-2024-04-07-105654-133,
.screenshot-2024-04-07-105940-133 {
  position: absolute;
  top: 680px;
  left: 700px;
  width: 96px;
  height: 41px;
  object-fit: cover;
}
.screenshot-2024-04-07-105940-133 {
  top: 732px;
  width: 328px;
  height: 39px;
}
.linked-list-data-structure-child {
  height: 37px;
  width: 423px;
  position: relative;
  border-radius: var(--br-xl-5);
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
}
.hash-table-data-structure {
  height: 15px;
  width: 15px;
  position: relative;
  min-height: 15px;
  z-index: 1;
}
.chn-kch-thc9 {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 113px;
  z-index: 1;
}
.linked-list-data-structure {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-120xl);
  background-color: var(--color-black);
  position: absolute;
  top: 682px;
  left: 807px;
  border-radius: var(--br-xl-5);
  width: 423px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  white-space: nowrap;
  max-width: 100%;
}
.linked-list-data-structure:hover {
  background-color: var(--color-darkslategray-500);
}
.frame-child657 {
  height: 36px;
  width: 77px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
  display: none;
}
.s33 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 9px;
  z-index: 1;
}
.frame-child658,
.rectangle-parent433 {
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
}
.rectangle-parent433 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-14xl) var(--padding-4xs)
    var(--padding-16xl);
  position: absolute;
  top: 601px;
  left: 709px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent433:hover,
.rectangle-parent434:hover,
.rectangle-parent435:hover {
  background-color: var(--color-silver);
}
.frame-child658 {
  height: 36px;
  width: 77px;
  position: relative;
  display: none;
}
.m33 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 13px;
  z-index: 1;
}
.frame-child659,
.rectangle-parent434 {
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
}
.rectangle-parent434 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-13xl) var(--padding-3xs);
  position: absolute;
  top: 601px;
  left: 797px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child659 {
  height: 36px;
  width: 77px;
  position: relative;
  display: none;
}
.l38 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 8px;
  z-index: 1;
}
.rectangle-parent435 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-15xl) var(--padding-3xs);
  background-color: var(--color-gainsboro-100);
  position: absolute;
  top: 601px;
  left: 884px;
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.chi-tit-sn33,
.frame-parent662 {
  position: relative;
  max-width: 100%;
}
.frame-parent662 {
  align-self: stretch;
  height: 841px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.chi-tit-sn33 {
  margin: 0;
  width: 321px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.o-thun-cotton-compact-care-s33 {
  margin: 0;
}
.d-n-vn33,
.nhng-sn-phm33 {
  margin: 0;
  font-weight: 300;
}
.o-thun-cotton-container74 {
  height: 68px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.search-visualizer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-base);
}
.screenshot-2024-04-13-115930-19 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.signal-processor-visualizer-child {
  height: 50px;
  width: 256px;
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.xem-thm41 {
  width: 95px;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.signal-processor-visualizer {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-sm) var(--padding-xl) var(--padding-mini)
    var(--padding-10xl);
  background-color: var(--color-white);
  width: 256px;
  border-radius: var(--br-13xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
}
.signal-processor-visualizer:hover {
  background-color: var(--color-gainsboro-200);
  border: 2px solid var(--color-darkslategray-500);
  box-sizing: border-box;
}
.database-visualizer,
.message-broker-visualizer {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.message-broker-visualizer {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-6xl) 0 var(--padding-xl);
}
.database-visualizer {
  width: 779px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.rule-engine-visualizer {
  width: 993px;
  height: 1264px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.graph-data-structure,
.matrix-data-structure,
.rule-engine-visualizer {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.matrix-data-structure {
  width: 1071px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.graph-data-structure {
  width: 1369px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-41xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.o-thun-cotton41,
.vn-art-chi18 {
  margin: 0;
  font-weight: 900;
}
.care-share36 {
  margin: 0;
  font-weight: 100;
}
.o-thun-cotton-container75 {
  width: 508px;
  height: 104px;
  position: relative;
  display: none;
  flex-shrink: 0;
  max-width: 100%;
}
.p42 {
  margin: 0;
}
.gi-t-h33 {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.gi-t-h-container33 {
  width: 341px;
  height: 65px;
  position: relative;
  font-weight: 900;
  display: none;
  flex-shrink: 0;
  max-width: 100%;
  font-size: var(--font-size-29xl);
}
.sn-phm-bn33 {
  margin: 0;
  height: 36px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.sn-phm-bn-c-th-thch-wrapper24 {
  width: 547px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  max-width: 100%;
}
.screenshot-2024-03-25-080428-133 {
  width: 1220px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.qun-jogger-nam33 {
  margin-bottom: -7px;
  height: 37px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.data-gatherer2 {
  align-self: stretch;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.div202 {
  width: 98px;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 900;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.hash-table-data-structure-visu,
.linked-list-data-structure-vis {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.hash-table-data-structure-visu {
  align-self: stretch;
  justify-content: flex-start;
}
.linked-list-data-structure-vis {
  width: 473px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.blank-line95,
.pack-5-qun33 {
  margin: 0;
}
.div203,
.pack-5-qun-container33 {
  position: relative;
  display: inline-block;
}
.pack-5-qun-container33 {
  align-self: stretch;
  height: 36px;
  font-weight: 500;
  flex-shrink: 0;
  z-index: 2;
}
.div203 {
  font-weight: 900;
  min-width: 75px;
}
.wrapper30 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs);
  font-size: var(--font-size-mini);
}
.error-handler19,
.output-merger3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.error-handler19 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.output-merger3 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.div204 {
  position: absolute;
  margin: 0 !important;
  right: 104px;
  bottom: -12px;
  font-weight: 900;
  display: inline-block;
  min-width: 75px;
}
.pack-3-o33 {
  margin-bottom: -4px;
  height: 37px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-smi);
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 3;
}
.function-caller3,
.recursive-caller {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.recursive-caller {
  flex: 1;
  position: relative;
  flex-shrink: 0;
}
.function-caller3 {
  align-self: stretch;
  height: 33px;
  padding: 0;
  box-sizing: border-box;
}
.div205 {
  width: 95px;
  position: relative;
  font-weight: 900;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.parallel-processor1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  margin-left: -173px;
  font-size: var(--font-size-mini);
}
.input-filter9,
.queue-data-structure-visualize {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.input-filter9 {
  flex: 1;
  margin-left: -186px;
}
.queue-data-structure-visualize {
  width: 1057px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.pack-3-qun33 {
  align-self: stretch;
  height: 37px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 4;
}
.assignment-operator1 {
  width: 471px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  margin-left: -179px;
}
.stack-data-structure-visualize,
.tree-traversal-visualizer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.stack-data-structure-visualize {
  width: 1294px;
}
.tree-traversal-visualizer {
  padding: 0 0 0 var(--padding-18xl);
  box-sizing: border-box;
}
.matrix-operations-visualizer,
.parallel-processor-visualizer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  max-width: 100%;
  font-size: var(--font-size-smi);
}
.parallel-processor-visualizer {
  padding: 0 0 var(--padding-24xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-12xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.screenshot-2024-03-25-081051-133 {
  position: absolute;
  top: 0;
  left: 592px;
  width: 130px;
  height: 57px;
  object-fit: cover;
}
.image-2-icon33,
.screenshot-2024-03-25-081154-133 {
  position: absolute;
  top: 29px;
  left: 0;
  width: 1060px;
  height: 152px;
  object-fit: cover;
  z-index: 1;
}
.image-2-icon33 {
  top: 163px;
  left: 344px;
  width: 699px;
  height: 59px;
  z-index: 2;
}
.statement-list1 {
  align-self: stretch;
  height: 222px;
  position: relative;
}
.cha-c-nh33,
.hy-mua-v33 {
  margin: 0;
}
.cha-c-nh-container33 {
  height: 30px;
  width: 235px;
  position: relative;
  font-weight: 200;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.block-statement {
  width: 729px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.control-flow-manager {
  width: 1060px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.logical-operator1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-203xl) var(--padding-40xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.screenshot-2024-03-25-072311-155 {
  height: 191px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.comment-block {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.screenshot-2024-03-25-072544-155 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.menu-sn-phm-bc-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1300px) {
  .rectangle-parent431 {
    flex-wrap: wrap;
  }
  .tm-kim-sn55 {
    display: none;
  }
  .frame-parent662 {
    height: auto;
    min-height: 841;
  }
  .graph-data-structure {
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
  .logical-operator1 {
    padding-right: var(--padding-92xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .frame-parent664 {
    flex-wrap: wrap;
  }
  .rectangle-parent432 {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .chi-tit-sn33 {
    font-size: var(--font-size-10xl);
  }
  .graph-data-structure {
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
  .o-thun-cotton-container75 {
    font-size: var(--font-size-7xl);
  }
  .parallel-processor-visualizer {
    gap: var(--gap-mini);
    padding-bottom: var(--padding-9xl);
    box-sizing: border-box;
  }
  .logical-operator1 {
    padding-right: var(--padding-36xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .o-nam12,
  .ph-kin-nam10,
  .qun-nam10,
  .theo-sn-phm10 {
    font-size: var(--font-size-base);
  }
  .frame-child655 {
    width: 100%;
    height: 1px;
  }
  .line-parent11 {
    flex-wrap: wrap;
  }
  .chi-tit-sn33 {
    font-size: var(--font-size-3xl);
  }
  .database-visualizer {
    gap: var(--gap-xl);
  }
  .gi-t-h-container33,
  .o-thun-cotton-container75,
  .sn-phm-bn33 {
    font-size: var(--font-size-lgi);
  }
  .logical-operator1 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
