.sn-phm50 {
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 82px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
}
.sn-phm-wrapper24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.lt47 {
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 58px;
  white-space: nowrap;
  z-index: 1;
}
.lt-wrapper26 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.th-thao47 {
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 106px;
  white-space: nowrap;
  z-index: 1;
}
.th-thao-wrapper33 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.mc-hng-ngy51 {
  height: 27px;
  flex: 1;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.frame-parent558 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-lg);
  max-width: 100%;
}
.nc-hoa47,
.sn-xut-ring47 {
  height: 27px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.nc-hoa47 {
  min-width: 86px;
}
.sn-xut-ring47 {
  align-self: stretch;
  flex-shrink: 0;
}
.nc-hoa-parent25,
.sn-xut-ring-wrapper28 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sn-xut-ring-wrapper28 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.nc-hoa-parent25 {
  width: 222px;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.frame-parent557,
.frame-wrapper394 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent557 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-12xl);
}
.frame-wrapper394 {
  width: 693px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.frame-child593 {
  height: 61px;
  width: 153px;
  position: relative;
  border-radius: var(--br-8xl);
  background-color: var(--color-gainsboro-100);
  display: none;
  z-index: 1;
}
.vector-icon130 {
  height: 35.2px;
  width: 32.1px;
  position: relative;
  z-index: 3;
}
.tm-kim-sn47 {
  height: 30px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 101px;
  white-space: nowrap;
  z-index: 2;
}
.rectangle-parent381,
.tm-kim-sn-phm-wrapper34 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tm-kim-sn-phm-wrapper34 {
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
  margin-left: -0.1px;
}
.rectangle-parent381 {
  width: 153px;
  border-radius: var(--br-8xl);
  background-color: var(--color-gainsboro-100);
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-10xs) var(--padding-6xs);
  box-sizing: border-box;
  z-index: 1;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.frame-child594 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 100%;
}
.screenshot-2024-03-24-190111-147,
.screenshot-2024-03-24-190914-147 {
  position: absolute;
  top: 19px;
  left: 47px;
  width: 89px;
  height: 69px;
  object-fit: cover;
  z-index: 1;
}
.screenshot-2024-03-24-190914-147 {
  top: 40px;
  left: 986px;
  height: 44px;
}
.frame-child595 {
  position: absolute;
  top: 27px;
  left: 1285px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
  width: 53px;
  height: 53px;
  z-index: 1;
}
.vector-icon131,
.vector-icon132 {
  position: absolute;
  top: 23px;
  left: 1282px;
  width: 56px;
  height: 61.5px;
  z-index: 2;
}
.vector-icon132 {
  top: 32px;
  left: 1356px;
  width: 32px;
  height: 40.6px;
  z-index: 1;
}
.rectangle-parent382 {
  height: 107px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: -12px;
  right: 0;
  left: 0;
}
.frame-parent556 {
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-xl) var(--padding-4xl)
    var(--padding-94xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-120xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-child596 {
  position: absolute;
  top: -14px;
  left: 0;
  background-color: var(--color-chocolate);
  width: 55px;
  height: 108px;
  z-index: 1;
}
.sale47 {
  position: absolute;
  top: 40px;
  left: 8px;
  display: inline-block;
  width: 39px;
  height: 27px;
  min-width: 39px;
  white-space: nowrap;
  z-index: 2;
}
.rectangle-parent383 {
  height: 94px;
  width: 55px;
  position: relative;
  margin-left: -1253px;
}
.logic-operator6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-26xl);
  box-sizing: border-box;
  max-width: 100%;
}
.screenshot-2024-03-25-073518-125 {
  height: 663px;
  width: 518px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.screenshot-2024-04-13-115727-21 {
  width: 491px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.screenshot-2024-03-25-073518-1-parent13 {
  width: 518px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-28xl) var(--padding-7xs) var(--padding-xl);
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 518px;
  max-width: 100%;
}
.o-khoc-nam7 {
  margin: 0;
  font-weight: 900;
}
.siu-nh7 {
  margin: 0;
  font-weight: 100;
}
.o-khoc-nam-container7 {
  margin: 0;
  align-self: stretch;
  height: 104px;
  position: relative;
  font-size: inherit;
  display: inline-block;
  flex-shrink: 0;
  font-family: inherit;
}
.p34 {
  margin: 0;
}
.gi-t-h25 {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.gi-t-h-container25 {
  width: 341px;
  height: 65px;
  position: relative;
  font-weight: 900;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  font-size: var(--font-size-29xl);
}
.frame-wrapper397,
.o-khoc-nam-chy-b-fast-fre-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.o-khoc-nam-chy-b-fast-fre-group {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-4xl);
}
.frame-wrapper397 {
  width: 522px;
  flex-direction: row;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
}
.screenshot-2024-03-25-074319-125 {
  align-self: stretch;
  height: 39px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.mu-sc27 {
  font-weight: 300;
}
.trng9 {
  font-weight: 900;
}
.mu-sc-trng-container9 {
  align-self: stretch;
  height: 24px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.screenshot-2024-04-07-104233-117 {
  align-self: stretch;
  width: 55px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 37px;
}
.screenshot-2024-04-07-104253-117 {
  height: 34px;
  width: 55px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.mu-sc-trng-parent3,
.screenshot-2024-04-07-104233-1-parent6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.mu-sc-trng-parent3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.frame-wrapper398,
.screenshot-2024-03-25-074319-1-parent8 {
  width: 138px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.screenshot-2024-03-25-074319-1-parent8 {
  width: 462px;
  flex-direction: column;
  padding: 0 0 var(--padding-6xs);
  gap: var(--gap-mini);
  max-width: 100%;
}
.hng-dn-chn25,
.kch-thc-o25 {
  height: 24px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.kch-thc-o25 {
  width: 128px;
}
.hng-dn-chn25 {
  align-self: stretch;
}
.data-aggregator32,
.tree-branch {
  display: flex;
  align-items: flex-start;
}
.tree-branch {
  width: 144px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-xs);
  color: var(--color-mediumblue);
}
.data-aggregator32 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.divider-child {
  height: 36px;
  width: 77px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-black);
  display: none;
}
.s25 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 9px;
  z-index: 1;
}
.divider-item,
.divider3 {
  border-radius: var(--br-mini);
  cursor: pointer;
}
.divider3 {
  border: 0;
  padding: var(--padding-3xs) var(--padding-14xl) var(--padding-4xs)
    var(--padding-16xl);
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider3:hover {
  background-color: var(--color-darkslategray-500);
}
.divider-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 100%;
  height: 100%;
}
.m25 {
  position: absolute;
  top: 9px;
  left: 32px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 13px;
  z-index: 1;
}
.divider4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 36px;
  flex: 1;
  position: relative;
}
.connection-point2,
.path-segment1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.connection-point2 {
  flex: 1;
  gap: var(--gap-2xs);
}
.path-segment1 {
  align-self: stretch;
  padding: 0 0 0 var(--padding-9xs);
}
.min-ph-giao25 {
  width: 144px;
  height: 24px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.shape-cluster,
.shape-cluster-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.shape-cluster {
  align-self: stretch;
  gap: var(--gap-2xs);
}
.shape-cluster-wrapper {
  width: 169px;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.frame-child597 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.l30 {
  position: absolute;
  top: 9px;
  left: 34px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 8px;
  z-index: 1;
}
.rectangle-parent384 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  height: 36px;
  position: relative;
}
.fill-style1 {
  width: 77px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.screenshot-2024-04-07-105108-125 {
  height: 44px;
  width: 261px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.value-range {
  flex-direction: row;
  gap: var(--gap-4xs);
  font-size: var(--font-size-xs);
  color: var(--color-mediumblue);
}
.data-aggregator-parent9,
.frame-wrapper399,
.value-range {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.data-aggregator-parent9 {
  flex: 1;
  flex-direction: column;
}
.frame-wrapper399 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.screenshot-2024-04-07-105654-125 {
  align-self: stretch;
  width: 96px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 41px;
}
.animation-controller {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl-5);
  background-color: var(--color-black);
  cursor: pointer;
}
.vector-icon133 {
  height: 15px;
  width: 15px;
  position: relative;
  min-height: 15px;
  z-index: 1;
}
.thm-vo-gi36 {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 111px;
  z-index: 1;
}
.canvas-layer {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-120xl);
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  gap: var(--gap-5xs);
  white-space: nowrap;
}
.image-loader,
.table-row1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.image-loader {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  min-width: 275px;
}
.table-row1 {
  width: 530px;
  flex-direction: row;
  padding: 0 0 var(--padding-10xs);
  gap: var(--gap-2xs);
}
.screenshot-2024-04-07-105940-125 {
  width: 328px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.frame-parent561,
.frame-parent562 {
  align-self: stretch;
  flex-direction: column;
}
.frame-parent562 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
  font-size: var(--font-size-smi);
}
.frame-parent561 {
  gap: var(--gap-53xl);
}
.frame-parent560,
.frame-parent561,
.frame-wrapper395,
.frame-wrapper396 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper396 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-9xl) 0 0;
  box-sizing: border-box;
  min-width: 361px;
}
.frame-parent560,
.frame-wrapper395 {
  flex-direction: row;
}
.frame-parent560 {
  flex: 1;
  gap: var(--gap-14xl);
}
.frame-wrapper395 {
  width: 1216px;
  padding: 0 var(--padding-36xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.chi-tit-sn25 {
  margin: 0;
  width: 321px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.o-thun-cotton-compact-care-s25 {
  margin: 0;
}
.d-n-vn25,
.nhng-sn-phm25 {
  margin: 0;
  font-weight: 300;
}
.o-thun-cotton-container65 {
  align-self: stretch;
  height: 68px;
  position: relative;
  font-size: var(--font-size-base);
  display: inline-block;
  flex-shrink: 0;
}
.star2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  max-width: 100%;
}
.screenshot-2024-04-13-115930-11 {
  width: 779px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.rounded-rect1 {
  width: 993px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frame-wrapper400,
.rounded-rect1,
.star-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.star-parent {
  width: 1071px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.frame-wrapper400 {
  width: 1333px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-mini);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.heading-child {
  height: 50px;
  width: 256px;
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.xem-thm33 {
  width: 95px;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.heading,
.heading-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}
.heading {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-sm) var(--padding-xl) var(--padding-mini)
    var(--padding-10xl);
  background-color: var(--color-white);
  width: 256px;
  border-radius: var(--br-13xl);
  white-space: nowrap;
}
.heading:hover {
  background-color: var(--color-gainsboro-200);
  border: 2px solid var(--color-darkslategray-500);
  box-sizing: border-box;
}
.heading-wrapper {
  width: 1250px;
  padding: 0 var(--padding-xl) var(--padding-3xl);
  max-width: 100%;
}
.sn-phm-bn25 {
  margin: 0;
  height: 36px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.checkbox2 {
  width: 547px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  max-width: 100%;
}
.screenshot-2024-03-25-080428-125 {
  width: 1220px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.qun-jogger-nam25 {
  margin-bottom: -7px;
  height: 37px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.carousel1 {
  align-self: stretch;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.div170 {
  width: 98px;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 900;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.accordion-wrapper,
.accordion2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.accordion2 {
  align-self: stretch;
  justify-content: flex-start;
}
.accordion-wrapper {
  width: 473px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.blank-line87,
.pack-5-qun25 {
  margin: 0;
}
.div171,
.pack-5-qun-container25 {
  position: relative;
  display: inline-block;
}
.pack-5-qun-container25 {
  align-self: stretch;
  height: 36px;
  font-weight: 500;
  flex-shrink: 0;
  z-index: 2;
}
.div171 {
  font-weight: 900;
  min-width: 75px;
}
.pack-5-qun-lt-nam-brief-cott-parent13,
.wrapper25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper25 {
  flex-direction: row;
  padding: 0 var(--padding-2xs);
  font-size: var(--font-size-mini);
}
.pack-5-qun-lt-nam-brief-cott-parent13 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.flexbox-layout-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.div172 {
  position: absolute;
  margin: 0 !important;
  right: 104px;
  bottom: -12px;
  font-weight: 900;
  display: inline-block;
  min-width: 75px;
}
.pack-3-o25 {
  margin-bottom: -4px;
  height: 37px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-smi);
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 3;
}
.frame-wrapper401,
.parent35 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.parent35 {
  flex: 1;
  position: relative;
  flex-shrink: 0;
}
.frame-wrapper401 {
  align-self: stretch;
  height: 33px;
  padding: 0;
  box-sizing: border-box;
}
.div173 {
  width: 95px;
  position: relative;
  font-weight: 900;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.flexbox-layout,
.frame-parent563 {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent563 {
  flex-direction: column;
  align-items: flex-start;
  margin-left: -173px;
  font-size: var(--font-size-mini);
}
.flexbox-layout {
  flex-direction: row;
  align-items: flex-end;
  margin-left: -186px;
}
.modal-dialog1,
.pack-3-qun25 {
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.modal-dialog1 {
  width: 1057px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.pack-3-qun25 {
  align-self: stretch;
  height: 37px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 4;
}
.dropdown-menu7,
.pack-3-qun-shorts-nam-k-sc-wrapper11,
.popover {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.pack-3-qun-shorts-nam-k-sc-wrapper11 {
  width: 471px;
  flex-direction: column;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  margin-left: -179px;
}
.dropdown-menu7,
.popover {
  flex-direction: row;
}
.popover {
  width: 1294px;
}
.dropdown-menu7 {
  align-self: stretch;
  padding: 0 0 0 var(--padding-18xl);
  box-sizing: border-box;
}
.slider2 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-11xs);
  font-size: var(--font-size-smi);
}
.link,
.list-item2,
.slider2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.link {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12xl);
}
.list-item2 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-8xs) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.screenshot-2024-03-25-081051-125 {
  position: absolute;
  top: 0;
  left: 592px;
  width: 130px;
  height: 57px;
  object-fit: cover;
}
.image-2-icon25,
.screenshot-2024-03-25-081154-125 {
  position: absolute;
  top: 29px;
  left: 0;
  width: 1060px;
  height: 152px;
  object-fit: cover;
  z-index: 1;
}
.image-2-icon25 {
  top: 163px;
  left: 344px;
  width: 699px;
  height: 59px;
  z-index: 2;
}
.screenshot-2024-03-25-081051-1-parent11 {
  align-self: stretch;
  height: 222px;
  position: relative;
}
.cha-c-nh25,
.hy-mua-v25 {
  margin: 0;
}
.cha-c-nh-container25 {
  height: 30px;
  width: 235px;
  position: relative;
  font-weight: 200;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.cha-c-nh-gi-hy-mua-v-wrapper12 {
  width: 729px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent559,
.frame-parent564 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent564 {
  width: 1080px;
  align-items: flex-end;
  padding: 0 var(--padding-xl) 0 0;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-parent559 {
  width: 1371px;
  align-items: flex-start;
  padding: 0 0 var(--padding-40xl) var(--padding-xl);
  gap: var(--gap-19xl);
}
.screenshot-2024-03-25-072311-147 {
  height: 191px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.screenshot-2024-03-25-072311-1-wrapper12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.screenshot-2024-03-25-072544-147 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sn-phm-bc-s {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1350px) {
  .frame-parent558 {
    display: none;
  }
  .frame-wrapper395 {
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .frame-parent559 {
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1150px) {
  .nc-hoa-parent25 {
    display: none;
  }
  .frame-parent556 {
    gap: var(--gap-50xl);
    padding-left: var(--padding-37xl);
    box-sizing: border-box;
  }
  .screenshot-2024-03-25-073518-1-parent13,
  .screenshot-2024-04-13-115727-21 {
    flex: 1;
  }
  .frame-parent560 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .frame-parent557 {
    gap: var(--gap-mini);
  }
  .tm-kim-sn47 {
    display: none;
  }
  .frame-parent556 {
    gap: var(--gap-16xl);
    padding-left: var(--padding-9xl);
    box-sizing: border-box;
  }
  .screenshot-2024-03-25-073518-1-parent13 {
    padding-top: var(--padding-12xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .o-khoc-nam-container7 {
    font-size: var(--font-size-7xl);
  }
  .table-row1,
  .value-range {
    flex-wrap: wrap;
  }
  .frame-parent561 {
    gap: var(--gap-17xl);
  }
  .frame-wrapper396 {
    min-width: 100%;
  }
  .frame-parent560 {
    gap: var(--gap-base);
  }
  .chi-tit-sn25 {
    font-size: var(--font-size-10xl);
  }
  .link {
    gap: var(--gap-mini);
  }
  .frame-parent559 {
    gap: var(--gap-lgi);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frame-parent556 {
    gap: var(--gap-mid);
  }
  .gi-t-h-container25,
  .o-khoc-nam-container7 {
    font-size: var(--font-size-lgi);
  }
  .data-aggregator32 {
    flex-wrap: wrap;
  }
  .canvas-layer {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent561 {
    gap: var(--gap-lg);
  }
  .chi-tit-sn25 {
    font-size: var(--font-size-3xl);
  }
  .sn-phm-bn25 {
    font-size: var(--font-size-lgi);
  }
}
