.product-variants {
  position: absolute;
  top: -14px;
  left: 0;
  background-color: var(--color-chocolate);
  width: 55px;
  height: 108px;
  z-index: 1;
}
.sale38 {
  position: absolute;
  top: 40px;
  left: 8px;
  display: inline-block;
  width: 39px;
  height: 27px;
  min-width: 39px;
  z-index: 2;
}
.product-name {
  position: absolute;
  top: 0;
  left: 187px;
  width: 55px;
  height: 94px;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.screenshot-2024-03-25-074319-121 {
  position: absolute;
  top: 432px;
  left: 695px;
  width: 462px;
  height: 39px;
  object-fit: cover;
}
.sn-phm41 {
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 82px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
}
.checkout-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.lt38 {
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 58px;
  white-space: nowrap;
  z-index: 1;
}
.shipping-method {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.th-thao38 {
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 106px;
  white-space: nowrap;
  z-index: 1;
}
.confirm-order-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.mc-hng-ngy42 {
  height: 27px;
  flex: 1;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.cart-total {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-lg);
  max-width: 100%;
}
.nc-hoa38,
.sn-xut-ring38 {
  height: 27px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.nc-hoa38 {
  min-width: 86px;
}
.sn-xut-ring38 {
  align-self: stretch;
  flex-shrink: 0;
}
.additional-info,
.product-features {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.additional-info {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.product-features {
  width: 222px;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.add-to-cart-button,
.cart-summary1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.cart-summary1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-12xl);
}
.add-to-cart-button {
  width: 693px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.faq-title-child {
  height: 61px;
  width: 153px;
  position: relative;
  border-radius: var(--br-8xl);
  background-color: var(--color-gainsboro-100);
  display: none;
  z-index: 1;
}
.f-a-qs {
  height: 35.2px;
  width: 32.1px;
  position: relative;
  z-index: 3;
}
.tm-kim-sn38 {
  height: 30px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 101px;
  white-space: nowrap;
  z-index: 2;
}
.faq-title,
.question-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.question-item {
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
  margin-left: -0.1px;
}
.faq-title {
  width: 153px;
  border-radius: var(--br-8xl);
  background-color: var(--color-gainsboro-100);
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-10xs) var(--padding-6xs);
  box-sizing: border-box;
  z-index: 1;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.category-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 100%;
}
.screenshot-2024-03-24-190111-138,
.screenshot-2024-03-24-190914-138 {
  position: absolute;
  top: 19px;
  left: 47px;
  width: 89px;
  height: 69px;
  object-fit: cover;
  z-index: 1;
}
.screenshot-2024-03-24-190914-138 {
  top: 40px;
  left: 986px;
  height: 44px;
}
.brand-logo {
  position: absolute;
  top: 27px;
  left: 1285px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
  width: 53px;
  height: 53px;
  z-index: 1;
}
.home-link-icon,
.main-navigation-icon {
  position: absolute;
  top: 23px;
  left: 1282px;
  width: 56px;
  height: 61.5px;
  z-index: 2;
}
.home-link-icon {
  top: 32px;
  left: 1356px;
  width: 32px;
  height: 40.6px;
  z-index: 1;
}
.new-product-carousel {
  height: 107px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: -12px;
  right: 0;
  left: 0;
}
.quantity-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-xl) var(--padding-4xl)
    var(--padding-94xl);
  box-sizing: border-box;
  gap: var(--gap-120xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.mu-sc23 {
  font-weight: 300;
}
.en5 {
  font-weight: 900;
}
.hng-dn-chn21,
.kch-thc-o21,
.min-ph-giao21,
.mu-sc-en-container5 {
  position: absolute;
  top: 486px;
  left: 700px;
  display: inline-block;
  width: 128px;
  height: 24px;
}
.hng-dn-chn21,
.kch-thc-o21,
.min-ph-giao21 {
  top: 570px;
  font-weight: 300;
}
.hng-dn-chn21,
.min-ph-giao21 {
  top: 571px;
  left: 1106px;
  font-size: var(--font-size-xs);
  color: var(--color-mediumblue);
  width: 144px;
}
.min-ph-giao21 {
  top: 646px;
  left: 700px;
}
.screenshot-2024-04-07-104233-113 {
  position: absolute;
  top: 518px;
  left: 700px;
  width: 55px;
  height: 37px;
  object-fit: cover;
  cursor: pointer;
}
.screenshot-2024-04-07-104253-113,
.screenshot-2024-04-07-105108-121 {
  position: absolute;
  top: 518px;
  left: 764px;
  width: 55px;
  height: 34px;
  object-fit: cover;
}
.screenshot-2024-04-07-105108-121 {
  top: 595px;
  left: 964px;
  width: 261px;
  height: 44px;
  z-index: 1;
}
.screenshot-2024-04-07-105654-121,
.screenshot-2024-04-07-105940-121 {
  position: absolute;
  top: 678px;
  left: 695px;
  width: 96px;
  height: 41px;
  object-fit: cover;
}
.screenshot-2024-04-07-105940-121 {
  top: 730px;
  width: 328px;
  height: 39px;
}
.product-image-child {
  height: 36px;
  width: 77px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-black);
  display: none;
}
.s21 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 9px;
  z-index: 1;
}
.product-image {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-14xl) var(--padding-4xs)
    var(--padding-16xl);
  background-color: var(--color-black);
  position: absolute;
  top: 599px;
  left: 704px;
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-image:hover {
  background-color: var(--color-darkslategray-500);
}
.product-image-item {
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
  width: 100%;
  height: 100%;
}
.m21,
.product-image-item,
.product-image1 {
  cursor: pointer;
  position: absolute;
}
.m21 {
  top: 9px;
  left: 32px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 13px;
  z-index: 1;
}
.product-image1 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 599px;
  left: 792px;
  width: 77px;
  height: 36px;
}
.product-image-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
  width: 100%;
  height: 100%;
}
.l21,
.product-image-inner,
.product-image2 {
  cursor: pointer;
  position: absolute;
}
.l21 {
  top: 9px;
  left: 34px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 8px;
  z-index: 1;
}
.product-image2 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 599px;
  left: 879px;
  width: 77px;
  height: 36px;
}
.screenshot-2024-03-25-073518-121,
.screenshot-2024-04-07-112015-112 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.screenshot-2024-04-07-112015-112 {
  top: 45px;
  left: 0;
  width: 502px;
  height: 602px;
  z-index: 1;
}
.screenshot-2024-03-25-073518-1-parent10 {
  position: absolute;
  top: 140px;
  left: 139px;
  width: 523px;
  height: 663px;
}
.loading-spinner-icon {
  height: 15px;
  width: 15px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 7.5px);
  left: 139px;
  z-index: 1;
}
.error-message-child {
  height: 37px;
  width: 423px;
  position: relative;
  border-radius: var(--br-xl-5);
  background-color: var(--color-darkgray-500);
  display: none;
  max-width: 100%;
}
.thm-vo-gi27 {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 111px;
  z-index: 3;
}
.error-message,
.product-grid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.error-message {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-xl) var(--padding-2xs)
    var(--padding-13xl);
  background-color: var(--color-darkgray-500);
  flex: 1;
  border-radius: var(--br-xl-5);
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 2;
}
.error-message:hover {
  background-color: var(--color-gray-1000);
}
.product-grid {
  position: absolute;
  top: 680px;
  left: 802px;
  width: 423px;
  justify-content: flex-start;
}
.o-thun-cotton29,
.vn-art-chi14 {
  margin: 0;
  font-weight: 900;
}
.care-share29 {
  margin: 0;
  font-weight: 100;
}
.o-thun-cotton-container50 {
  margin: 0 !important;
  height: 104px;
  width: 508px;
  position: absolute;
  top: 88px;
  left: -226px;
  font-size: inherit;
  display: inline-block;
  font-family: inherit;
}
.p27 {
  margin: 0;
}
.gi-t-h21 {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.gi-t-h-container21 {
  height: 65px;
  width: 341px;
  position: absolute;
  margin: 0 !important;
  bottom: 68px;
  left: -226px;
  font-weight: 900;
  display: inline-block;
  font-size: var(--font-size-29xl);
}
.previous-button-child {
  width: 485px;
  height: 348px;
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  display: none;
  max-width: 100%;
}
.thm-vo-gi28 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  z-index: 2;
}
.product-item {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 2;
}
.dots-navigation {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-lgi);
  gap: var(--gap-2xl);
}
.screenshot-2024-04-07-150017-21 {
  height: 152px;
  width: 101px;
  position: relative;
  border-radius: var(--br-mid);
  object-fit: cover;
  z-index: 2;
}
.care-share30,
.la-vn-art3,
.o-thun-cotton30 {
  margin: 0;
  font-weight: 900;
}
.blank-line80,
.ens,
.p28 {
  margin: 0;
  font-weight: 300;
}
.o-thun-cotton-container51 {
  margin: 0;
  height: 166px;
  position: relative;
  font-size: inherit;
  display: inline-block;
  min-width: 278px;
  z-index: 2;
  font-family: inherit;
}
.screenshot-2024-04-07-150017-2-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.frame-child426 {
  height: 54px;
  width: 407px;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.xem-gi-hng6 {
  position: relative;
  font-size: var(--font-size-3xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  z-index: 3;
}
.rectangle-parent294 {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-sm) var(--padding-xl) var(--padding-smi)
    var(--padding-8xl);
  background-color: var(--color-white);
  align-self: stretch;
  border-radius: var(--br-base);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
  max-width: 100%;
  z-index: 2;
}
.rectangle-parent294:hover,
.rectangle-parent295:hover {
  background-color: var(--color-gainsboro-200);
  border: 2px solid var(--color-darkslategray-500);
  box-sizing: border-box;
}
.image-carousel,
.previous-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.previous-button {
  flex: 1;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  padding: var(--padding-lg) var(--padding-17xl) var(--padding-12xl);
  box-sizing: border-box;
  gap: var(--gap-6xs);
  z-index: 1;
  font-size: var(--font-size-xl);
}
.image-carousel {
  position: absolute;
  top: 78px;
  left: 926px;
  width: 485px;
  flex-direction: row;
  font-size: var(--font-size-13xl);
}
.chi-tit-sn21,
.product-info {
  position: relative;
  max-width: 100%;
}
.product-info {
  align-self: stretch;
  height: 841px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.chi-tit-sn21 {
  margin: 0;
  width: 321px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.o-thun-cotton-compact-care-s21 {
  margin: 0;
}
.d-n-vn21,
.nhng-sn-phm21 {
  margin: 0;
  font-weight: 300;
}
.o-thun-cotton-container52 {
  height: 68px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.o-thun-cotton-compact-care-s-wrapper4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-base);
}
.screenshot-2024-03-25-075840-113 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-child427 {
  height: 50px;
  width: 256px;
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.xem-thm29 {
  width: 95px;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-wrapper314,
.rectangle-parent295 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.rectangle-parent295 {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-sm) var(--padding-xl) var(--padding-mini)
    var(--padding-10xl);
  background-color: var(--color-white);
  width: 256px;
  border-radius: var(--br-13xl);
  box-sizing: border-box;
  white-space: nowrap;
}
.frame-wrapper314 {
  align-self: stretch;
  padding: 0 var(--padding-10xl) 0 var(--padding-xl);
}
.screenshot-2024-03-25-075840-1-parent8 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  max-width: 100%;
}
.frame-wrapper313 {
  width: 997px;
  height: 1262px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-49xl);
  box-sizing: border-box;
}
.chi-tit-sn-phm-parent15,
.frame-wrapper313,
.sn-phm-1-s-gh-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.chi-tit-sn-phm-parent15 {
  width: 1071px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.sn-phm-1-s-gh-inner {
  width: 1369px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-41xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.sn-phm-bn21 {
  margin: 0;
  height: 36px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.sn-phm-bn-c-th-thch-wrapper16 {
  width: 547px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  max-width: 100%;
}
.screenshot-2024-03-25-080428-121 {
  width: 1220px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.qun-jogger-nam21 {
  margin-bottom: -7px;
  height: 37px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.qun-jogger-nam-ut-a-nng-wrapper13 {
  align-self: stretch;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.div139 {
  width: 98px;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 900;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-parent431,
.frame-wrapper316 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent431 {
  align-self: stretch;
  justify-content: flex-start;
}
.frame-wrapper316 {
  width: 473px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.blank-line81,
.pack-5-qun21 {
  margin: 0;
}
.div140,
.pack-5-qun-container21 {
  position: relative;
  display: inline-block;
}
.pack-5-qun-container21 {
  align-self: stretch;
  height: 36px;
  font-weight: 500;
  flex-shrink: 0;
  z-index: 2;
}
.div140 {
  font-weight: 900;
  min-width: 75px;
}
.pack-5-qun-lt-nam-brief-cott-parent10,
.wrapper16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper16 {
  flex-direction: row;
  padding: 0 var(--padding-2xs);
  font-size: var(--font-size-mini);
}
.pack-5-qun-lt-nam-brief-cott-parent10 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.frame-wrapper317 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.div141 {
  position: absolute;
  margin: 0 !important;
  right: 104px;
  bottom: -12px;
  font-weight: 900;
  display: inline-block;
  min-width: 75px;
}
.pack-3-o21 {
  margin-bottom: -4px;
  height: 37px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-smi);
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 3;
}
.frame-wrapper318,
.parent30 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.parent30 {
  flex: 1;
  position: relative;
  flex-shrink: 0;
}
.frame-wrapper318 {
  align-self: stretch;
  height: 33px;
  padding: 0;
  box-sizing: border-box;
}
.div142 {
  width: 95px;
  position: relative;
  font-weight: 900;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-parent432,
.frame-parent433 {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent433 {
  flex-direction: column;
  align-items: flex-start;
  margin-left: -173px;
  font-size: var(--font-size-mini);
}
.frame-parent432 {
  flex-direction: row;
  align-items: flex-end;
  margin-left: -186px;
}
.frame-parent430,
.pack-3-qun21 {
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-parent430 {
  width: 1057px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.pack-3-qun21 {
  align-self: stretch;
  height: 37px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 4;
}
.pack-3-qun-shorts-nam-k-sc-wrapper8 {
  width: 471px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  margin-left: -179px;
}
.frame-parent429 {
  width: 1294px;
  flex-direction: row;
}
.frame-parent428,
.frame-parent429,
.frame-wrapper315,
.screenshot-2024-03-25-080428-1-parent14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper315 {
  flex-direction: row;
  padding: 0 0 0 var(--padding-18xl);
  box-sizing: border-box;
}
.frame-parent428,
.screenshot-2024-03-25-080428-1-parent14 {
  flex-direction: column;
  gap: var(--gap-11xs);
  font-size: var(--font-size-smi);
}
.frame-parent428 {
  padding: 0 0 var(--padding-24xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-12xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.screenshot-2024-03-25-081051-121 {
  position: absolute;
  top: 0;
  left: 592px;
  width: 130px;
  height: 57px;
  object-fit: cover;
}
.image-2-icon21,
.screenshot-2024-03-25-081154-121 {
  position: absolute;
  top: 29px;
  left: 0;
  width: 1060px;
  height: 152px;
  object-fit: cover;
  z-index: 1;
}
.image-2-icon21 {
  top: 163px;
  left: 344px;
  width: 699px;
  height: 59px;
  z-index: 2;
}
.screenshot-2024-03-25-081051-1-parent8 {
  align-self: stretch;
  height: 222px;
  position: relative;
}
.cha-c-nh21,
.hy-mua-v21 {
  margin: 0;
}
.cha-c-nh-container21 {
  height: 30px;
  width: 235px;
  position: relative;
  font-weight: 200;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.cha-c-nh-gi-hy-mua-v-wrapper9 {
  width: 729px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent434 {
  width: 1060px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.sn-phm-1-s-gh-child {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-203xl) var(--padding-40xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.screenshot-2024-03-25-072311-138 {
  height: 191px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.image-container6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.sn-phm-1-s-gh-item {
  width: 423px;
  height: 37px;
  position: relative;
  border-radius: var(--br-xl-5);
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
}
.thm-vo-gi29 {
  position: relative;
  font-weight: 600;
  display: none;
  min-width: 111px;
}
.screenshot-2024-03-25-072544-138 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sn-phm-1-s-gh {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .quantity-input {
    gap: var(--gap-50xl);
    padding-left: var(--padding-37xl);
    box-sizing: border-box;
  }
  .sn-phm-1-s-gh-inner {
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
  .sn-phm-1-s-gh-child {
    padding-right: var(--padding-92xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .cart-total {
    display: none;
  }
  .o-thun-cotton-container50 {
    font-size: var(--font-size-7xl);
  }
  .chi-tit-sn21 {
    font-size: var(--font-size-10xl);
  }
  .frame-wrapper313 {
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .cart-summary1 {
    gap: var(--gap-mini);
  }
  .quantity-input {
    gap: var(--gap-16xl);
    padding-left: var(--padding-9xl);
    box-sizing: border-box;
  }
  .frame-parent428,
  .sn-phm-1-s-gh-inner {
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
  .frame-parent428 {
    gap: var(--gap-mini);
    padding-bottom: var(--padding-9xl);
  }
  .sn-phm-1-s-gh-child {
    padding-right: var(--padding-36xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .quantity-input {
    gap: var(--gap-mid);
  }
  .gi-t-h-container21,
  .o-thun-cotton-container50 {
    font-size: var(--font-size-lgi);
  }
  .thm-vo-gi28 {
    font-size: var(--font-size-base);
  }
  .screenshot-2024-04-07-150017-21 {
    flex: 1;
  }
  .o-thun-cotton-container51 {
    font-size: var(--font-size-base);
    flex: 1;
  }
  .screenshot-2024-04-07-150017-2-group {
    flex-wrap: wrap;
  }
  .product-info {
    height: auto;
    min-height: 841;
  }
  .chi-tit-sn21 {
    font-size: var(--font-size-3xl);
  }
  .sn-phm-bn21 {
    font-size: var(--font-size-lgi);
  }
  .sn-phm-1-s-gh-child {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
