.sn-phm27 {
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 82px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
}
.sn-phm-wrapper10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.lt25 {
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 58px;
  white-space: nowrap;
  z-index: 1;
}
.lt-wrapper11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.th-thao25 {
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 106px;
  white-space: nowrap;
  z-index: 1;
}
.th-thao-wrapper19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.mc-hng-ngy29 {
  height: 27px;
  flex: 1;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.frame-parent299 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-lg);
  max-width: 100%;
}
.nc-hoa25,
.sn-xut-ring25 {
  height: 27px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.nc-hoa25 {
  min-width: 86px;
}
.sn-xut-ring25 {
  align-self: stretch;
  flex-shrink: 0;
}
.nc-hoa-parent8,
.sn-xut-ring-wrapper11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sn-xut-ring-wrapper11 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.nc-hoa-parent8 {
  width: 222px;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.frame-parent298,
.frame-wrapper205 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent298 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-12xl);
}
.frame-wrapper205 {
  width: 693px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.frame-child333 {
  height: 61px;
  width: 153px;
  position: relative;
  border-radius: var(--br-8xl);
  background-color: var(--color-gainsboro-100);
  display: none;
  z-index: 1;
}
.vector-icon64 {
  height: 35.2px;
  width: 32.1px;
  position: relative;
  z-index: 3;
}
.tm-kim-sn25 {
  height: 30px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 101px;
  white-space: nowrap;
  z-index: 2;
}
.rectangle-parent215,
.tm-kim-sn-phm-wrapper17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tm-kim-sn-phm-wrapper17 {
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
  margin-left: -0.1px;
}
.rectangle-parent215 {
  width: 153px;
  border-radius: var(--br-8xl);
  background-color: var(--color-gainsboro-100);
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-10xs) var(--padding-6xs);
  box-sizing: border-box;
  z-index: 1;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.frame-child334 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 100%;
}
.screenshot-2024-03-24-190111-125,
.screenshot-2024-03-24-190914-125 {
  position: absolute;
  top: 19px;
  left: 47px;
  width: 89px;
  height: 69px;
  object-fit: cover;
  z-index: 1;
}
.screenshot-2024-03-24-190914-125 {
  top: 40px;
  left: 986px;
  height: 44px;
}
.frame-child335 {
  position: absolute;
  top: 27px;
  left: 1285px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
  width: 53px;
  height: 53px;
  z-index: 1;
}
.vector-icon65,
.vector-icon66 {
  position: absolute;
  top: 23px;
  left: 1282px;
  width: 56px;
  height: 61.5px;
  z-index: 2;
}
.vector-icon66 {
  top: 32px;
  left: 1356px;
  width: 32px;
  height: 40.6px;
  z-index: 1;
}
.rectangle-parent216 {
  height: 107px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: -12px;
  right: 0;
  left: 0;
}
.frame-parent297 {
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-xl) var(--padding-4xl)
    var(--padding-94xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-120xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-child336 {
  position: absolute;
  top: -14px;
  left: 0;
  background-color: var(--color-chocolate);
  width: 55px;
  height: 108px;
  z-index: 1;
}
.sale25 {
  position: absolute;
  top: 40px;
  left: 8px;
  display: inline-block;
  width: 39px;
  height: 27px;
  min-width: 39px;
  white-space: nowrap;
  z-index: 2;
}
.rectangle-parent217 {
  height: 94px;
  width: 55px;
  position: relative;
  margin-left: -1253px;
}
.frame-parent296 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-26xl);
  box-sizing: border-box;
  max-width: 100%;
}
.screenshot-2024-03-25-073518-18 {
  width: 518px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.o-thun-cotton13,
.vn-art-chi1 {
  margin: 0;
  font-weight: 900;
}
.care-share13 {
  margin: 0;
  font-weight: 100;
}
.o-thun-cotton-container21 {
  margin: 0;
  align-self: stretch;
  height: 104px;
  position: relative;
  font-size: inherit;
  display: inline-block;
  flex-shrink: 0;
  font-family: inherit;
}
.p11 {
  margin: 0;
}
.gi-t-h8 {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.gi-t-h-container8 {
  width: 341px;
  height: 65px;
  position: relative;
  font-weight: 900;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  font-size: var(--font-size-29xl);
}
.frame-wrapper209,
.o-thun-cotton-compact-in-la-v-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.o-thun-cotton-compact-in-la-v-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-4xl);
}
.frame-wrapper209 {
  width: 518px;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.screenshot-2024-03-25-074319-18 {
  align-self: stretch;
  height: 39px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.mu-sc10 {
  font-weight: 300;
}
.trng {
  font-weight: 900;
}
.mu-sc-trng-container {
  align-self: stretch;
  height: 24px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.screenshot-2024-04-07-104233-1 {
  align-self: stretch;
  width: 55px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 37px;
}
.screenshot-2024-04-07-104253-1 {
  height: 34px;
  width: 55px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.mu-sc-trng-parent,
.screenshot-2024-04-07-104233-1-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.mu-sc-trng-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.frame-wrapper210,
.screenshot-2024-03-25-074319-1-container {
  width: 138px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.screenshot-2024-03-25-074319-1-container {
  width: 462px;
  flex-direction: column;
  padding: 0 0 var(--padding-6xs);
  gap: var(--gap-mini);
  max-width: 100%;
}
.hng-dn-chn8,
.kch-thc-o8 {
  height: 24px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.kch-thc-o8 {
  width: 128px;
}
.hng-dn-chn8 {
  align-self: stretch;
}
.hng-dn-chn-size-wrapper1 {
  width: 144px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-xs);
  color: var(--color-mediumblue);
}
.kch-thc-o-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-child337 {
  height: 36px;
  width: 77px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-black);
  display: none;
}
.s8 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 9px;
  z-index: 1;
}
.frame-child338,
.rectangle-parent218 {
  border-radius: var(--br-mini);
  cursor: pointer;
}
.rectangle-parent218 {
  border: 0;
  padding: var(--padding-3xs) var(--padding-14xl) var(--padding-4xs)
    var(--padding-16xl);
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent218:hover {
  background-color: var(--color-darkslategray-500);
}
.frame-child338 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 100%;
  height: 100%;
}
.m8 {
  position: absolute;
  top: 9px;
  left: 32px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 13px;
  z-index: 1;
}
.rectangle-parent219 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 36px;
  flex: 1;
  position: relative;
}
.frame-parent307,
.frame-wrapper213 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent307 {
  flex: 1;
  gap: var(--gap-2xs);
}
.frame-wrapper213 {
  align-self: stretch;
  padding: 0 0 0 var(--padding-9xs);
}
.min-ph-giao8 {
  width: 144px;
  height: 24px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.frame-parent306,
.frame-wrapper212 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent306 {
  align-self: stretch;
  gap: var(--gap-2xs);
}
.frame-wrapper212 {
  width: 169px;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.frame-child339 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.l8 {
  position: absolute;
  top: 9px;
  left: 34px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 8px;
  z-index: 1;
}
.rectangle-parent220 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  height: 36px;
  position: relative;
}
.frame-wrapper214 {
  width: 77px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.screenshot-2024-04-07-105108-18 {
  height: 44px;
  width: 261px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.frame-parent305 {
  flex-direction: row;
  gap: var(--gap-4xs);
  font-size: var(--font-size-xs);
  color: var(--color-mediumblue);
}
.frame-parent304,
.frame-parent305,
.frame-wrapper211 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent304 {
  flex: 1;
  flex-direction: column;
}
.frame-wrapper211 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.screenshot-2024-04-07-105654-18 {
  align-self: stretch;
  width: 96px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 41px;
}
.frame-child340 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl-5);
  background-color: var(--color-black);
  cursor: pointer;
}
.vector-icon67 {
  height: 15px;
  width: 15px;
  position: relative;
  min-height: 15px;
  z-index: 1;
}
.thm-vo-gi12 {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 111px;
  z-index: 1;
}
.rectangle-parent221 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-120xl);
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  gap: var(--gap-5xs);
  white-space: nowrap;
}
.frame-wrapper215,
.screenshot-2024-04-07-105654-1-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper215 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  min-width: 275px;
}
.screenshot-2024-04-07-105654-1-parent2 {
  width: 530px;
  flex-direction: row;
  padding: 0 0 var(--padding-10xs);
  gap: var(--gap-2xs);
}
.screenshot-2024-04-07-105940-18 {
  width: 328px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.frame-parent302,
.frame-parent303 {
  align-self: stretch;
  flex-direction: column;
}
.frame-parent303 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
  font-size: var(--font-size-smi);
}
.frame-parent302 {
  gap: var(--gap-55xl);
}
.frame-parent302,
.frame-wrapper207,
.frame-wrapper208,
.screenshot-2024-03-25-073518-1-parent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper208 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xl) 0 0;
  box-sizing: border-box;
  min-width: 361px;
}
.frame-wrapper207,
.screenshot-2024-03-25-073518-1-parent3 {
  flex-direction: row;
}
.screenshot-2024-03-25-073518-1-parent3 {
  width: 1106px;
  gap: var(--gap-14xl);
}
.frame-wrapper207 {
  align-self: stretch;
}
.chi-tit-sn8 {
  margin: 0;
  width: 321px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.o-thun-cotton-compact-care-s8 {
  margin: 0;
}
.d-n-vn8,
.nhng-sn-phm8 {
  margin: 0;
  font-weight: 300;
}
.o-thun-cotton-container22 {
  align-self: stretch;
  height: 68px;
  position: relative;
  font-size: var(--font-size-base);
  display: inline-block;
  flex-shrink: 0;
}
.chi-tit-sn-phm-parent4 {
  width: 1071px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-lgi);
  font-size: var(--font-size-17xl);
}
.chi-tit-sn-phm-parent4,
.frame-parent301,
.frame-wrapper206 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent301 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-19xl);
}
.frame-wrapper206 {
  width: 1257px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-36xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.screenshot-2024-03-25-075840-1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-child341 {
  height: 50px;
  width: 256px;
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.xem-thm16 {
  width: 95px;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-wrapper217,
.rectangle-parent222 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.rectangle-parent222 {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-sm) var(--padding-xl) var(--padding-mini)
    var(--padding-10xl);
  background-color: var(--color-white);
  width: 256px;
  border-radius: var(--br-13xl);
  box-sizing: border-box;
  white-space: nowrap;
}
.rectangle-parent222:hover {
  background-color: var(--color-gainsboro-200);
  border: 2px solid var(--color-darkslategray-500);
  box-sizing: border-box;
}
.frame-wrapper217 {
  align-self: stretch;
  padding: 0 var(--padding-10xl) 0 var(--padding-xl);
}
.screenshot-2024-03-25-075840-1-parent {
  align-self: stretch;
  width: 861px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  max-width: 100%;
}
.frame-wrapper216 {
  width: 1259px;
  height: 1280px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-lg);
  box-sizing: border-box;
  max-width: 100%;
}
.sn-phm-bn8 {
  margin: 0;
  height: 36px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.sn-phm-bn-c-th-thch-wrapper4 {
  width: 547px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  max-width: 100%;
}
.screenshot-2024-03-25-080428-18 {
  width: 1220px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.qun-jogger-nam8 {
  margin-bottom: -7px;
  height: 37px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.qun-jogger-nam-ut-a-nng-wrapper3 {
  align-self: stretch;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.div87 {
  width: 98px;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 900;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-parent311,
.frame-wrapper220 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent311 {
  align-self: stretch;
  justify-content: flex-start;
}
.frame-wrapper220 {
  width: 473px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.blank-line64,
.pack-5-qun8 {
  margin: 0;
}
.div88,
.pack-5-qun-container8 {
  position: relative;
  display: inline-block;
}
.pack-5-qun-container8 {
  align-self: stretch;
  height: 36px;
  font-weight: 500;
  flex-shrink: 0;
  z-index: 2;
}
.div88 {
  font-weight: 900;
  min-width: 75px;
}
.pack-5-qun-lt-nam-brief-cott-parent3,
.shape-assembler {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.shape-assembler {
  flex-direction: row;
  padding: 0 var(--padding-2xs);
  font-size: var(--font-size-mini);
}
.pack-5-qun-lt-nam-brief-cott-parent3 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.data-aggregator19 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.div89,
.pack-3-o8 {
  display: inline-block;
}
.div89 {
  position: absolute;
  margin: 0 !important;
  right: 104px;
  bottom: -12px;
  font-weight: 900;
  min-width: 75px;
}
.pack-3-o8 {
  margin-bottom: -4px;
  height: 37px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-smi);
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 3;
}
.frame-wrapper221,
.parent25 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.parent25 {
  flex: 1;
  position: relative;
  flex-shrink: 0;
}
.frame-wrapper221 {
  align-self: stretch;
  height: 33px;
  padding: 0;
  box-sizing: border-box;
}
.div90 {
  width: 95px;
  position: relative;
  font-weight: 900;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.data-aggregator-parent5,
.frame-parent312 {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent312 {
  flex-direction: column;
  align-items: flex-start;
  margin-left: -173px;
  font-size: var(--font-size-mini);
}
.data-aggregator-parent5 {
  flex-direction: row;
  align-items: flex-end;
  margin-left: -186px;
}
.frame-parent310,
.pack-3-qun8 {
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-parent310 {
  width: 1057px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.pack-3-qun8 {
  align-self: stretch;
  height: 37px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 4;
}
.color-palette3,
.frame-parent309,
.frame-wrapper219 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.color-palette3 {
  width: 471px;
  flex-direction: column;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  margin-left: -179px;
}
.frame-parent309,
.frame-wrapper219 {
  flex-direction: row;
}
.frame-parent309 {
  width: 1294px;
}
.frame-wrapper219 {
  align-self: stretch;
  padding: 0 0 0 var(--padding-18xl);
  box-sizing: border-box;
}
.screenshot-2024-03-25-080428-1-parent3 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-11xs);
  font-size: var(--font-size-smi);
}
.frame-parent308,
.frame-wrapper218,
.screenshot-2024-03-25-080428-1-parent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent308 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12xl);
}
.frame-wrapper218 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.screenshot-2024-03-25-081051-18 {
  position: absolute;
  top: 0;
  left: 592px;
  width: 130px;
  height: 57px;
  object-fit: cover;
}
.image-2-icon8,
.screenshot-2024-03-25-081154-18 {
  position: absolute;
  top: 29px;
  left: 0;
  width: 1060px;
  height: 152px;
  object-fit: cover;
  z-index: 1;
}
.image-2-icon8 {
  top: 163px;
  left: 344px;
  width: 699px;
  height: 59px;
  z-index: 2;
}
.alignment-engine2 {
  align-self: stretch;
  height: 222px;
  position: relative;
}
.cha-c-nh8,
.hy-mua-v8 {
  margin: 0;
}
.cha-c-nh-container8 {
  height: 30px;
  width: 235px;
  position: relative;
  font-weight: 200;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.ruling-rule {
  width: 729px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent300,
.proximity-detector {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.proximity-detector {
  width: 1080px;
  align-items: flex-end;
  padding: 0 var(--padding-xl) 0 0;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-parent300 {
  width: 1371px;
  align-items: flex-start;
  padding: 0 0 var(--padding-40xl) var(--padding-xl);
  gap: var(--gap-23xl);
}
.screenshot-2024-03-25-072311-125 {
  height: 191px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.screenshot-2024-03-25-072311-1-wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.screenshot-2024-03-25-072544-125 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sn-phm-s {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1350px) {
  .frame-parent299 {
    display: none;
  }
  .frame-wrapper206 {
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .frame-parent300 {
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1150px) {
  .nc-hoa-parent8 {
    display: none;
  }
  .frame-parent297 {
    gap: var(--gap-50xl);
    padding-left: var(--padding-37xl);
    box-sizing: border-box;
  }
  .screenshot-2024-03-25-073518-18 {
    flex: 1;
  }
  .screenshot-2024-03-25-073518-1-parent3 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .frame-parent298 {
    gap: var(--gap-mini);
  }
  .tm-kim-sn25 {
    display: none;
  }
  .frame-parent297 {
    gap: var(--gap-16xl);
    padding-left: var(--padding-9xl);
    box-sizing: border-box;
  }
  .o-thun-cotton-container21 {
    font-size: var(--font-size-7xl);
  }
  .frame-parent305,
  .screenshot-2024-04-07-105654-1-parent2 {
    flex-wrap: wrap;
  }
  .frame-parent302 {
    gap: var(--gap-18xl);
  }
  .frame-wrapper208 {
    min-width: 100%;
  }
  .screenshot-2024-03-25-073518-1-parent3 {
    gap: var(--gap-base);
  }
  .chi-tit-sn8 {
    font-size: var(--font-size-10xl);
  }
  .frame-parent301 {
    gap: var(--gap-lgi);
  }
  .frame-parent308 {
    gap: var(--gap-mini);
  }
  .frame-parent300 {
    gap: var(--gap-2xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frame-parent297 {
    gap: var(--gap-mid);
  }
  .gi-t-h-container8,
  .o-thun-cotton-container21 {
    font-size: var(--font-size-lgi);
  }
  .kch-thc-o-parent2 {
    flex-wrap: wrap;
  }
  .rectangle-parent221 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent302 {
    gap: var(--gap-lg);
  }
  .chi-tit-sn8 {
    font-size: var(--font-size-3xl);
  }
  .sn-phm-bn8 {
    font-size: var(--font-size-lgi);
  }
}
