.sn-phm39 {
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 82px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
}
.sn-phm-wrapper18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.lt36 {
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 58px;
  white-space: nowrap;
  z-index: 1;
}
.lt-wrapper19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.th-thao36 {
  height: 27px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 106px;
  white-space: nowrap;
  z-index: 1;
}
.th-thao-wrapper26 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.mc-hng-ngy40 {
  height: 27px;
  flex: 1;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.frame-parent410 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-lg);
  max-width: 100%;
}
.nc-hoa36,
.sn-xut-ring36 {
  height: 27px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.nc-hoa36 {
  min-width: 86px;
}
.sn-xut-ring36 {
  align-self: stretch;
  flex-shrink: 0;
}
.nc-hoa-parent17,
.sn-xut-ring-wrapper20 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sn-xut-ring-wrapper20 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.nc-hoa-parent17 {
  width: 222px;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.frame-parent409,
.frame-wrapper298 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent409 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-12xl);
}
.frame-wrapper298 {
  width: 693px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.frame-child414 {
  height: 61px;
  width: 153px;
  position: relative;
  border-radius: var(--br-8xl);
  background-color: var(--color-gainsboro-100);
  display: none;
  z-index: 1;
}
.vector-icon99 {
  height: 35.2px;
  width: 32.1px;
  position: relative;
  z-index: 3;
}
.tm-kim-sn36 {
  height: 30px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 101px;
  white-space: nowrap;
  z-index: 2;
}
.rectangle-parent284,
.tm-kim-sn-phm-wrapper26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tm-kim-sn-phm-wrapper26 {
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
  margin-left: -0.1px;
}
.rectangle-parent284 {
  width: 153px;
  border-radius: var(--br-8xl);
  background-color: var(--color-gainsboro-100);
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-10xs) var(--padding-6xs);
  box-sizing: border-box;
  z-index: 1;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.frame-child415 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 100%;
}
.screenshot-2024-03-24-190111-136,
.screenshot-2024-03-24-190914-136 {
  position: absolute;
  top: 19px;
  left: 47px;
  width: 89px;
  height: 69px;
  object-fit: cover;
  z-index: 1;
}
.screenshot-2024-03-24-190914-136 {
  top: 40px;
  left: 986px;
  height: 44px;
}
.frame-child416 {
  position: absolute;
  top: 27px;
  left: 1285px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
  width: 53px;
  height: 53px;
  z-index: 1;
}
.vector-icon100,
.vector-icon101 {
  position: absolute;
  top: 23px;
  left: 1282px;
  width: 56px;
  height: 61.5px;
  z-index: 2;
}
.vector-icon101 {
  top: 32px;
  left: 1356px;
  width: 32px;
  height: 40.6px;
  z-index: 1;
}
.rectangle-parent285 {
  height: 107px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: -12px;
  right: 0;
  left: 0;
}
.frame-parent408 {
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-xl) var(--padding-4xl)
    var(--padding-94xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-120xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-child417 {
  position: absolute;
  top: -14px;
  left: 0;
  background-color: var(--color-chocolate);
  width: 55px;
  height: 108px;
  z-index: 1;
}
.sale36 {
  position: absolute;
  top: 40px;
  left: 8px;
  display: inline-block;
  width: 39px;
  height: 27px;
  min-width: 39px;
  white-space: nowrap;
  z-index: 2;
}
.rectangle-parent286 {
  height: 94px;
  width: 55px;
  position: relative;
  margin-left: -1253px;
}
.frame-parent407 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-26xl);
  box-sizing: border-box;
  max-width: 100%;
}
.screenshot-2024-03-25-073518-119,
.screenshot-2024-04-07-112015-110 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.screenshot-2024-04-07-112015-110 {
  top: 44px;
  left: 0;
  width: 502px;
  height: 602px;
  z-index: 1;
}
.screenshot-2024-03-25-073518-1-parent9 {
  height: 663px;
  width: 523px;
  position: relative;
  min-width: 523px;
  max-width: 100%;
}
.o-thun-cotton27,
.vn-art-chi12 {
  margin: 0;
  font-weight: 900;
}
.care-share27 {
  margin: 0;
  font-weight: 100;
}
.o-thun-cotton-container46 {
  margin: 0;
  align-self: stretch;
  height: 104px;
  position: relative;
  font-size: inherit;
  display: inline-block;
  flex-shrink: 0;
  font-family: inherit;
}
.p25 {
  margin: 0;
}
.gi-t-h19 {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.gi-t-h-container19 {
  width: 341px;
  height: 65px;
  position: relative;
  font-weight: 900;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  font-size: var(--font-size-29xl);
}
.frame-wrapper302,
.o-thun-cotton-compact-in-la-v-parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.o-thun-cotton-compact-in-la-v-parent6 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-4xl);
}
.frame-wrapper302 {
  width: 518px;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.screenshot-2024-03-25-074319-119 {
  align-self: stretch;
  height: 39px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.mu-sc21 {
  font-weight: 300;
}
.en3 {
  font-weight: 900;
}
.mu-sc-en-container3 {
  height: 24px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.mu-sc-en-wrapper2,
.screenshot-2024-03-25-074319-1-parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mu-sc-en-wrapper2 {
  width: 138px;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.screenshot-2024-03-25-074319-1-parent6 {
  width: 462px;
  flex-direction: column;
  gap: var(--gap-mini);
  max-width: 100%;
}
.screenshot-2024-04-07-104233-111 {
  align-self: stretch;
  width: 55px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 37px;
  cursor: pointer;
}
.screenshot-2024-04-07-104253-111 {
  height: 34px;
  width: 55px;
  position: relative;
  object-fit: cover;
}
.frame-wrapper303,
.screenshot-2024-04-07-104233-1-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.screenshot-2024-04-07-104233-1-parent4 {
  gap: var(--gap-4xs);
}
.frame-wrapper303 {
  padding: 0 var(--padding-8xs) var(--padding-6xs);
}
.hng-dn-chn19,
.kch-thc-o19 {
  height: 24px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.kch-thc-o19 {
  width: 128px;
}
.hng-dn-chn19 {
  align-self: stretch;
}
.hng-dn-chn-size-wrapper7 {
  width: 144px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-xs);
  color: var(--color-mediumblue);
}
.tree-builder3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-child418 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.s19 {
  position: absolute;
  top: 10px;
  left: 35px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 9px;
  z-index: 1;
}
.rectangle-parent287 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 36px;
  flex: 1;
  position: relative;
}
.frame-child419 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.m19 {
  position: absolute;
  top: 9px;
  left: 32px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 13px;
  z-index: 1;
}
.rectangle-parent288 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 36px;
  flex: 1;
  position: relative;
}
.frame-parent418,
.frame-wrapper305 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent418 {
  flex: 1;
  gap: var(--gap-2xs);
}
.frame-wrapper305 {
  align-self: stretch;
  padding: 0 0 0 var(--padding-9xs);
}
.min-ph-giao19 {
  width: 144px;
  height: 24px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.frame-parent417,
.frame-wrapper304 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent417 {
  align-self: stretch;
  gap: var(--gap-2xs);
}
.frame-wrapper304 {
  width: 169px;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.shortest-path-tree-child {
  height: 36px;
  width: 77px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-black);
  display: none;
}
.l19 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 8px;
  z-index: 1;
}
.path-finder,
.shortest-path-tree {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.shortest-path-tree {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-15xl) var(--padding-3xs);
  background-color: var(--color-black);
  border-radius: var(--br-mini);
  flex-direction: row;
}
.shortest-path-tree:hover {
  background-color: var(--color-darkslategray-500);
}
.path-finder {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.screenshot-2024-04-07-105108-119 {
  height: 44px;
  width: 261px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.frame-parent416 {
  flex-direction: row;
  gap: var(--gap-4xs);
  font-size: var(--font-size-xs);
  color: var(--color-mediumblue);
}
.feature-splitter,
.frame-parent416,
.input-transformer1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input-transformer1 {
  flex: 1;
  flex-direction: column;
}
.feature-splitter {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.screenshot-2024-04-07-105654-119 {
  align-self: stretch;
  width: 96px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 41px;
}
.kruskals-algo {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl-5);
  background-color: var(--color-black);
  cursor: pointer;
}
.vector-icon102 {
  height: 15px;
  width: 15px;
  position: relative;
  min-height: 15px;
  z-index: 1;
}
.thm-vo-gi26 {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 111px;
  z-index: 1;
}
.prim-algo {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-120xl);
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  gap: var(--gap-5xs);
  white-space: nowrap;
}
.a-star-search,
.dijkstra-algorithm1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.a-star-search {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  min-width: 275px;
}
.dijkstra-algorithm1 {
  width: 530px;
  flex-direction: row;
  padding: 0 0 var(--padding-10xs);
  gap: var(--gap-2xs);
}
.screenshot-2024-04-07-105940-119 {
  width: 328px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.frame-parent414,
.frame-parent415 {
  align-self: stretch;
  flex-direction: column;
}
.frame-parent415 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
  font-size: var(--font-size-smi);
}
.frame-parent414 {
  gap: var(--gap-55xl);
}
.frame-parent413,
.frame-parent414,
.frame-wrapper300,
.frame-wrapper301 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper301 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xl) 0 0;
  box-sizing: border-box;
  min-width: 361px;
}
.frame-parent413,
.frame-wrapper300 {
  flex-direction: row;
}
.frame-parent413 {
  width: 1111px;
  gap: var(--gap-14xl);
}
.frame-wrapper300 {
  align-self: stretch;
}
.chi-tit-sn19 {
  margin: 0;
  width: 321px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.o-thun-cotton-compact-care-s19 {
  margin: 0;
}
.d-n-vn19,
.nhng-sn-phm19 {
  margin: 0;
  font-weight: 300;
}
.o-thun-cotton-container47 {
  align-self: stretch;
  height: 68px;
  position: relative;
  font-size: var(--font-size-base);
  display: inline-block;
  flex-shrink: 0;
}
.chi-tit-sn-phm-parent13 {
  width: 1071px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-lgi);
  font-size: var(--font-size-17xl);
}
.chi-tit-sn-phm-parent13,
.frame-parent412,
.frame-wrapper299 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent412 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-19xl);
}
.frame-wrapper299 {
  width: 1252px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-31xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.screenshot-2024-03-25-075840-111 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-child420 {
  height: 50px;
  width: 256px;
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.xem-thm27 {
  width: 95px;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.key-value-pair-inner,
.rectangle-parent289 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.rectangle-parent289 {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-sm) var(--padding-xl) var(--padding-mini)
    var(--padding-10xl);
  background-color: var(--color-white);
  width: 256px;
  border-radius: var(--br-13xl);
  box-sizing: border-box;
  white-space: nowrap;
}
.rectangle-parent289:hover {
  background-color: var(--color-gainsboro-200);
  border: 2px solid var(--color-darkslategray-500);
  box-sizing: border-box;
}
.key-value-pair-inner {
  align-self: stretch;
  padding: 0 var(--padding-10xl) 0 var(--padding-xl);
}
.key-value-pair,
.key-value-pair-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.key-value-pair {
  align-self: stretch;
  width: 861px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.key-value-pair-wrapper {
  width: 1259px;
  height: 1280px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-lg);
  box-sizing: border-box;
}
.sn-phm-bn19 {
  margin: 0;
  height: 36px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.sn-phm-bn-c-th-thch-wrapper14 {
  width: 547px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  max-width: 100%;
}
.screenshot-2024-03-25-080428-119 {
  width: 1220px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.qun-jogger-nam19 {
  margin-bottom: -7px;
  height: 37px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.qun-jogger-nam-ut-a-nng-wrapper11 {
  align-self: stretch;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.div131 {
  width: 98px;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 900;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-parent422,
.frame-wrapper308 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent422 {
  align-self: stretch;
  justify-content: flex-start;
}
.frame-wrapper308 {
  width: 473px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.blank-line78,
.pack-5-qun19 {
  margin: 0;
}
.div132,
.pack-5-qun-container19 {
  position: relative;
  display: inline-block;
}
.pack-5-qun-container19 {
  align-self: stretch;
  height: 36px;
  font-weight: 500;
  flex-shrink: 0;
  z-index: 2;
}
.div132 {
  font-weight: 900;
  min-width: 75px;
}
.logic-operator2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs);
  font-size: var(--font-size-mini);
}
.conditional-branch1,
.input-processor3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input-processor3 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.conditional-branch1 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.div133 {
  position: absolute;
  margin: 0 !important;
  right: 104px;
  bottom: -12px;
  font-weight: 900;
  display: inline-block;
  min-width: 75px;
}
.pack-3-o19 {
  margin-bottom: -4px;
  height: 37px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-smi);
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 3;
}
.function-call3,
.loop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.function-call3 {
  flex: 1;
  position: relative;
  flex-shrink: 0;
}
.loop {
  align-self: stretch;
  height: 33px;
  padding: 0;
  box-sizing: border-box;
}
.div134 {
  width: 95px;
  position: relative;
  font-weight: 900;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.data-gatherer1,
.sequence {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.sequence {
  flex-direction: column;
  align-items: flex-start;
  margin-left: -173px;
  font-size: var(--font-size-mini);
}
.data-gatherer1 {
  flex-direction: row;
  align-items: flex-end;
  margin-left: -186px;
}
.frame-parent421,
.pack-3-qun19 {
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-parent421 {
  width: 1057px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.pack-3-qun19 {
  align-self: stretch;
  height: 37px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 4;
}
.expressor,
.frame-parent420,
.frame-wrapper307 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.expressor {
  width: 471px;
  flex-direction: column;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  margin-left: -179px;
}
.frame-parent420,
.frame-wrapper307 {
  flex-direction: row;
}
.frame-parent420 {
  width: 1294px;
}
.frame-wrapper307 {
  align-self: stretch;
  padding: 0 0 0 var(--padding-18xl);
  box-sizing: border-box;
}
.screenshot-2024-03-25-080428-1-parent12 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-11xs);
  font-size: var(--font-size-smi);
}
.frame-parent419,
.frame-wrapper306,
.screenshot-2024-03-25-080428-1-parent12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent419 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12xl);
}
.frame-wrapper306 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.screenshot-2024-03-25-081051-119 {
  position: absolute;
  top: 0;
  left: 592px;
  width: 130px;
  height: 57px;
  object-fit: cover;
}
.image-2-icon19,
.screenshot-2024-03-25-081154-119 {
  position: absolute;
  top: 29px;
  left: 0;
  width: 1060px;
  height: 152px;
  object-fit: cover;
  z-index: 1;
}
.image-2-icon19 {
  top: 163px;
  left: 344px;
  width: 699px;
  height: 59px;
  z-index: 2;
}
.if-statement4 {
  align-self: stretch;
  height: 222px;
  position: relative;
}
.cha-c-nh19,
.hy-mua-v19 {
  margin: 0;
}
.cha-c-nh-container19 {
  height: 30px;
  width: 235px;
  position: relative;
  font-weight: 200;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.switch-case2 {
  width: 729px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent411,
.if-statement-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.if-statement-group {
  width: 1080px;
  align-items: flex-end;
  padding: 0 var(--padding-xl) 0 0;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-parent411 {
  width: 1371px;
  align-items: flex-start;
  padding: 0 0 var(--padding-40xl) var(--padding-xl);
  gap: var(--gap-23xl);
}
.screenshot-2024-03-25-072311-136 {
  height: 191px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.finally-block {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.screenshot-2024-03-25-072544-136 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sn-phm-1-l {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1350px) {
  .frame-parent410 {
    display: none;
  }
  .frame-wrapper299 {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .frame-parent411 {
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1150px) {
  .nc-hoa-parent17 {
    display: none;
  }
  .frame-parent408 {
    gap: var(--gap-50xl);
    padding-left: var(--padding-37xl);
    box-sizing: border-box;
  }
  .screenshot-2024-03-25-073518-1-parent9 {
    flex: 1;
  }
  .frame-parent413 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .frame-parent409 {
    gap: var(--gap-mini);
  }
  .tm-kim-sn36 {
    display: none;
  }
  .frame-parent408 {
    gap: var(--gap-16xl);
    padding-left: var(--padding-9xl);
    box-sizing: border-box;
  }
  .screenshot-2024-03-25-073518-1-parent9 {
    min-width: 100%;
  }
  .o-thun-cotton-container46 {
    font-size: var(--font-size-7xl);
  }
  .dijkstra-algorithm1,
  .frame-parent416 {
    flex-wrap: wrap;
  }
  .frame-parent414 {
    gap: var(--gap-18xl);
  }
  .frame-wrapper301 {
    min-width: 100%;
  }
  .frame-parent413 {
    gap: var(--gap-base);
  }
  .chi-tit-sn19 {
    font-size: var(--font-size-10xl);
  }
  .frame-parent412 {
    gap: var(--gap-lgi);
  }
  .frame-parent419 {
    gap: var(--gap-mini);
  }
  .frame-parent411 {
    gap: var(--gap-2xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frame-parent408 {
    gap: var(--gap-mid);
  }
  .gi-t-h-container19,
  .o-thun-cotton-container46 {
    font-size: var(--font-size-lgi);
  }
  .tree-builder3 {
    flex-wrap: wrap;
  }
  .prim-algo {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent414 {
    gap: var(--gap-lg);
  }
  .chi-tit-sn19 {
    font-size: var(--font-size-3xl);
  }
  .sn-phm-bn19 {
    font-size: var(--font-size-lgi);
  }
}
